<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpeakerRapport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SpeakerRapport.Properties.Settings>
            <setting name="BaseVolumeLevel" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="BaseSpeakerDecibelThreshold" serializeAs="String">
                <value>-12</value>
            </setting>
            <setting name="GazeShiftMinimumInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="TestText" serializeAs="String">
                <value>Consigo falar tao alto como tu.</value>
            </setting>
            <setting name="GazingBehaviorIsGlance" serializeAs="String">
                <value>False</value>
            </setting>
        </SpeakerRapport.Properties.Settings>
    </applicationSettings>
</configuration>