<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JSON" version="1.0.1" targetFramework="net45" />
  <package id="json-serialize" version="1.1.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net40" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.202250711" targetFramework="net45" />
</packages>